# Configuração padrão de texto
* text=auto

# Especificar linguagens para exibição no GitHub
*.html linguist-language=HTML
*.css linguist-language=CSS
*.php linguist-language=PHP
*.sql linguist-language=SQL
